/* Reset some default browser styles */
body, h1, h2, p, ul, li, button {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    background-color: #141414;
    color: #fff;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #000;
}

nav img {
    width: 80px;
    height: auto;
}

nav ul {
    list-style: none;
    display: flex;
}

nav ul li {
    margin-right: 20px;
    cursor: pointer;
}

section.hero {
    text-align: center;
    padding: 100px 20px;
}

section.hero h1 {
    font-size: 3rem;
    margin-bottom: 20px;
}

section.hero p {
    font-size: 1.2rem;
    margin-bottom: 30px;
}

section.hero button {
    padding: 10px 20px;
    font-size: 1rem;
    background-color: #e50914;
    color: #fff;
    border: none;
    cursor: pointer;
}

section.featured {
    text-align: center;
    padding: 40px 20px;
}

section.featured h2 {
    font-size: 2rem;
    margin-bottom: 20px;
}

.category {
    margin-top: 20px;
}

.category img {
    width: 100%;
    height: auto;
    border-radius: 8px;
    margin-bottom: 10px;
}

.category p {
    font-size: 1.2rem;
}

section.movies {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 40px 20px;
}

.movie {
    width: 200px;
    margin-bottom: 20px;
}

.movie img {
    width: 80%;
    height: auto;
    border-radius: 8px;
}

footer {
    text-align: center;
    padding: 20px;
    background-color: #000;
    color: #8c8c8c;
}

@media (max-width: 768px) {
    nav {
        flex-direction: column;
        align-items: flex-start;
    }

    nav img {
        margin-bottom: 20px;
    }

    nav ul {
        margin-top: 20px;
    }

    nav ul li {
        margin-right: 0;
        margin-bottom: 10px;
    }

    section.hero {
        padding: 80px 20px;
    }

    section.hero h1 {
        font-size: 2.5rem;
    }

    section.hero p {
        font-size: 1rem;
    }

    section.hero button {
        font-size: 0.8rem;
    }

    section.featured h2 {
        font-size: 1.5rem;
    }

    category img {
        width: 80%;
        height: auto;
        border-radius: 8px;
        margin-bottom: 10px;
    }

    category p {
        font-size: 1rem;
    }

    section.movies {
        padding: 20px;
    }

    .movie {
        width: 100%;
    }

    .movie img {
        border-radius: 8px;
    }
}
